/* .multibox {
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.data-super-box {
    border: 1px solid limegreen;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
} */
html, body {
    margin: 0;
    padding: 0;
}

.browser {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
    padding-right: 1rem;
    background: #2f3542;
    font-weight: 300;
}

.buttons ul {
    margin: 0;
    padding: 0;
    display:flex;
    list-style:none;
}

.nav-bt {
    font-size: 1.2rem;
    padding: 0.8rem;
    margin: 0.5rem;
    border: 1px solid;
    text-decoration: none;
    color: #fff;
}

.active {
    color: #2f3542;
    background: #fff;
}

.homeBanner {
    padding: 1rem;
    height: 90px;
}

.video {
    height: 450px;
}

.select {
    margin: 1rem auto;
}

.aRobot {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem;
    flex-grow: 1;
    border: solid 1px rgb(222, 222, 222,1);
    box-shadow: 0 0 5px #dedede;
}

.aRobot h2 {
    margin: 0.3rem 0;
}

.aRobot p {
    margin:0.3rem;
}

.notice {
    font-size: 0.7rem;
    vertical-align: super;
    color: red;
}

.multibox {
    display: flex;
}

.data-super-box {
    flex-grow: 1;
}

.livebox {
    align-self: center;
    text-align: center;
}

.sidebox {
    /* overflow-y: scroll; */
}
